In [105]:
# Importamos las librerias necesarias 
import twitter
import re 
import datetime
import pandas as pd
import json

Hemos obtenido los datos atacando la API de twitter y utilizando Postman:

- Para obtener las meciones hemos atacado la API de Twitter con un usuario ELEVATED a la carpeta Timelines y al metodo GET User Mention timeline by ID
Con eso obtenemos tres JSON de 100 tweets (el m√°ximo valor de tweets que deja la API descargar de golpe) dos de ellos y 55 el tercero. 
- Para obtener los nombres de los usuarios utilizamos los valores √∫nicos del id del author de los JSON anteriores y volvemos a atacar la API de Twitter concretamente la carpeta User Lookup y concretamente el metodo GET Users by ID

In [280]:
data = json.load(open('json_1.json', encoding="utf8")) # cargamos los datos json en una variable llamada data e indicando un encoding utf-8

df_1 = pd.DataFrame(data['data']) # Cargamos los datos del json en un dataframe

data2 = json.load(open('json_2.json', encoding="utf8"))

df_2 = pd.DataFrame(data2['data'])

data3 = json.load(open('json_3.json', encoding="latin1")) # En este caso cargamos el archivo json con un encoding en latin1 por que estaba dando problemas

df_3 = pd.DataFrame(data3['data'])

data_1 = []
data_2 =[]
data_3 = []

# Para obtener las cuatro columnas de public metrics lo extraemos del json

for i in range(len(data['data'])): 
    data_1.append(data['data'][i]['public_metrics'])
    data_2.append(data2['data'][i]['public_metrics'])

for i in range(len(data3['data'])):
    data_3.append(data3['data'][i]['public_metrics']) #Hacemos este aparte por que tiene 52 entradas

df_1_1 = pd.DataFrame(data_1) #Cargamos los datos a dataframe
df_1_2 = pd.DataFrame(data_2)
df_1_3 = pd.DataFrame(data_3)

In [285]:
# Concatenamos cada uno de los dataframes con los datos y las public metrics
df1 = pd.concat([df_1,df_1_1], axis=1)
df2 = pd.concat([df_2,df_1_2], axis=1)
df3 = pd.concat([df_3,df_1_3], axis=1)

In [292]:
df_total = pd.concat([df1, df2, df3]) # concatenamos todos los dataframes en uno solo

# Seleccionamos solo las columnas que nos interesan, elimina la de public metrics y reseteamos el indice eliminando el indice anterior
df_total = df_total.loc[:,['author_id', 'text', 'created_at', 'id','retweet_count', 'reply_count', 'like_count', 'quote_count']].reset_index(drop=True) 

#guardamos el dataframe en csv
df_total.to_csv('clean1_data.csv')

In [294]:
df_total

,author_id,text,created_at,id,retweet_count,reply_count,like_count,quote_count
0,1088261225153060864,üßë‚ÄçüéìLos emprendedores y profesionales digitales...,2022-07-13T14:45:06.000Z,1547230643561664515,1,0,2,0
1,1232276995796586499,Hoy hemos tenido una s√∫per visita a nuestras o...,2022-07-13T13:22:40.000Z,1547209900874506241,1,0,3,0
2,1162694149956603904,¬°Descubre la experiencia de Dani! ‚ñ∂ Dani estud...,2022-07-12T11:22:45.000Z,1546817334882476032,2,0,0,0
3,1085383992,#VentureCapital/#PrivateEquity: @TheBridge_Tec...,2022-07-11T07:34:21.000Z,1546397466517540866,0,0,0,0
4,27890913,#Inversiones üí∞üí∞\n\n@TheBridge_Tech ha cerrado ...,2022-07-07T10:16:04.000Z,1544988613129261056,0,0,0,0
...,...,...,...,...,...,...,...,...
251,1162694149956603904,Del periodismo al marketing digital √∞¬ü¬§¬∏ esta ...,2022-01-18T16:02:13.000Z,1483469787078533123,0,0,0,0
252,41545659,Ciclo de Conferencias sobre Inteligencia Artif...,2022-01-12T19:03:03.000Z,1481340966866989063,1,0,6,0
253,183583012,Me encantar√É¬≠a saber que les ense√É¬±an sobre es...,2022-01-09T17:23:02.000Z,1480228635294449667,0,0,0,0
254,10045342,"@cbusquets Hola, @TheBridge_Tech te da la opci...",2022-01-08T12:10:46.000Z,1479787660910768132,0,0,4,0
255,966573471663828992,√Ç¬øQuieres formarte en una de las profesiones q...,2022-01-05T08:00:01.000Z,1478637395289378817,0,0,3,0

In [188]:
# Sacamos una lista con los valores unicos de author_id para obtener los nombres de los usuarios

author_id = list(df_total.author_id.unique())

In [189]:
# Con este codigo obtenemos los nombres de los usuarios que pusieron el tweet

import requests

author_id_list = []

for i in author_id:


    url = f"https://api.twitter.com/2/users/{i}"

    payload={}
    headers = {
    'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAE8gewEAAAAAKyC0k1V28Tm346hWKCBvxkpc%2FwE%3DzURU43evZywEtP0W3gcj1QgU0Cm4GQMuvxP9e0xfoXaKTAo0sg',
    'Cookie': 'guest_id=v1%3A165772105743030744'
    }

    response = requests.request("GET", url, headers=headers, data=payload)

    author_id_list.append(json.loads(response.text))

In [212]:
author_df_list = [] 

for i in range(len(author_id_list)): # Extraemos los datos del json descargado de la API
    author_df_list.append(author_id_list[i]['data'])

authors = pd.DataFrame(author_df_list) # guardamos los datos en un dataframe

authors.to_csv('author.csv') # Guardamos el dataframe en csv

In [293]:
authors

                      id                               name         username
0    1088261225153060864                     GoHub Ventures    GoHubVentures
1    1232276995796586499                      Ines Calabuig    InesCalabuig2
2    1162694149956603904                         The Bridge   TheBridge_Tech
3             1085383992               Webcapitalriesgo.com   WCapitalRiesgo
4               27890913                       El Referente      ElReferente
..                   ...                                ...              ...
126            479678741                             ACEC +   AssociacioACEC
127             53319655  Randall Solano | #TechUniversidad  randallsolanook
128            183583012               Ingeniero Titiritero   ing_titiritero
129             10045342                 Carlos A. Marchena        cmarchena
130   966573471663828992                      PymesMagazine    pymesmagazine

[131 rows x 3 columns]