In [8]:
import pandas as pd

import sqlite3

In [85]:

connt = sqlite3.connect('Data/my_database.db')

ct = connt.cursor()

In [ ]:
ct.execute(
    """CREATE TABLE IF NOT EXISTS tweets(
        id VARCHAR(255) PRIMARY KEY,
        tweet TEXT NOT NULL,
        date DATE, 
        user_id VARCHAR(255),
        retweets_count INTEGER,
        replies_count INTEGER,
        likes_count INTEGER
        )"""
    )

ct.execute(
    """CREATE TABLE IF NOT EXISTS users(
    user_id VARCHAR(255) PRIMARY KEY,
    name VARCHAR(255),
    username VARCHAR(255)
    )"""
    )

sql = '''SELECT * FROM tweets'''
ct.execute(sql)

In [24]:
df = pd.read_csv('Data\clean_data.csv', index_col=0)

df

,id,date,user_id,username,name,tweet,replies_count,retweets_count,likes_count
0,1478637395289378817,2022-01-05,966573471663828992,pymesmagazine,PymesMagazine,¬øQuieres formarte en una de las profesiones qu...,0,0,3
1,1479787660910768132,2022-01-08,10045342,cmarchena,Carlos A. Marchena,"@cbusquets Hola, @TheBridge_Tech te da la opci...",0,0,4
2,1480228635294449667,2022-01-09,183583012,ing_titiritero,Ingeniero Titiritero,Me encantar√≠a saber que les ense√±an sobre esta...,0,0,0
3,1481340966866989063,2022-01-12,41545659,nodosenlared,Mario Lopez de Avila,Ciclo de Conferencias sobre Inteligencia Artif...,0,1,6
4,1483469787078533123,2022-01-18,1162694149956603904,thebridge_tech,The Bridge,Del periodismo al marketing digital ü§∏ esta es ...,0,0,0
...,...,...,...,...,...,...,...,...,...
276,1544988613129261056,2022-07-07,27890913,elreferente,El Referente,#Inversiones üí∞üí∞ @TheBridge_Tech ha cerrado un...,0,0,0
277,1546397466517540866,2022-07-11,1085383992,wcapitalriesgo,Webcapitalriesgo.com,#VentureCapital/#PrivateEquity: @TheBridge_Tec...,0,0,0
278,1546817334882476032,2022-07-12,1162694149956603904,thebridge_tech,The Bridge,¬°Descubre la experiencia de Dani! ‚ñ∂ Dani estud...,0,2,0
279,1547230643561664515,2022-07-13,1088261225153060864,gohubventures,GoHub Ventures,üßë‚ÄçüéìLos emprendedores y profesionales digitales...,0,1,2
280,1547209900874506241,2022-07-13,1232276995796586499,inescalabuig2,Ines Calabuig,Hoy hemos tenido una s√∫per visita a nuestras o...,0,1,3

In [67]:
df_tweets = df.drop(['username','name'], axis=1)

# Insert DataFrame recrds one by one.
for i,row in df_tweets.iterrows():
    task = (row[0], row[1], row[2], row[3], row[4], row[5], row[6])
    sql = ''' INSERT INTO tweets(id, date, user_id, tweet, replies_count, retweets_count, likes_count)
              VALUES(?,?,?,?,?,?,?) '''
    cur = connt.cursor()
    cur.execute(sql, task)
    connt.commit()

In [87]:
df_user = df.loc[:, ['user_id','username','name']].drop_duplicates()

# Insert DataFrame recrds one by one.
for i,row in df_user.iterrows():
    task = (row[0], row[1], row[2])
    sql = ''' INSERT INTO users(user_id,username,name)
              VALUES(?,?,?) '''
    cur = connt.cursor()
    cur.execute(sql, task)
    connt.commit()

In [89]:
connt.close()